mixin post(titulo, autor, contenido, url)
    div(class="card")
        div(class="card-body")
            h2(class="card-title")=titulo 
            p(class="card-subtitle mb-2 text-muted") Escrito por #{autor}
            p(class="card-text")=contenido 
            a(class="card-link" href="/posts/" + url, class="p-1 rounded") Ver detalles


mixin comentario(autor, contenido)
    div(class="card")
        div(class="card-body")
            p(class="h4") Escrito por #{autor}
            p(class="card-text")=contenido


mixin navbar(id_user)   
    - const id = id_user
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/posts">BlogTs</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    a(class="nav-link" href="/usuarios/" + id) Tus publicaciones
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <form action="/logout" class="d-flex" method="get">
                button(class="btn btn secondary") Cerrar sesion
            </form>
            </div>
        </div>
    </nav>

mixin modal(id,contenidoPost, tituloPost)
    //- button(type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal"+id)=titulobtn
    button(class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal"+id)
        img(src="../../../public/assets/pencil-solid.svg" style="width:20px")

    div(class="modal fade" id="modal"+id tabindex="-1" aria-labelledby="modal"+id aria-hidden="true")
                div(class="modal-dialog")
                    div(class="modal-content")
                        div(class="modal-header")
                            h1(class="modal-title fs-5" id="modalLabel"+id) Editar
                            button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                        div(class="modal-body")
                            div(class="container")
                                div(class="mb-3 w-75 mx-auto")
                                    h3 Editar Publicación
                                    form(action="/posts/update/"+ id enctype="application/x-www-form-urlencoded" method="post") 
                                        label(for="" class="form-label") Titulo
                                        input(type="text" class="form-control" name="titulo" value=tituloPost)
                                        label(for="" class="form-label") Contenido
                                        textarea(class="form-control" name="contenido", cols="30", rows="10")=contenidoPost
                                        button(class="btn btn-primary" data-bs-dismiss="modal") Editar
                        div(class="modal-footer")
                            button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close 


mixin postProfile(titulo,autor,contenido,url) 
    div(class="card")
        div(class="d-flex p-2")
            div(class="card-body")
                h2(class="card-title")=titulo 
                p(class="card-subtitle mb-2 text-muted") Escrito por #{autor}
                p(class="card-text")=contenido 
                a(class="card-link" href="/posts/" + url, class="p-1 rounded") Ver detalles
            div(class="d-flex p-2 justify-content-between")
                div()
                    +modal(url, contenido, titulo)
                div()
                    form(action="/post/delete/" + url method="GET")
                        button(class="btn btn-outline-danger")
                            img(src="../../../public/assets/trash-can-solid.svg" style="width:20px")