doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous")
        title Document
    body 
    include ../components/navbar.pug
    h1 Crea tu comentario
    div(class="mb-3")
        form(action="/posts/create" method="POST") 
            input(type="text" name="id_user")
            input(type="text" name="id_category")
            label(for="" class="form-label") Titulo del comentario
            input(type="text" class="form-control" name="titulo")
            label(for="" class="form-label") Contenido del comentario
            textarea(name="contenido", cols="100", rows="10" class="form-control") 
            button(class="btn btn-primary") Crear Post
    if code == 200
        for element in data
            - const url = element.id
            div(class="card")
                div(class="card-body")
                    h2(class="card-title")=element.titulo
                    p(class="card-subtitle mb-2 text-muted") Escrito por #{element.usuarios.nombre}
                    p(class="card-text")=element.contenido
                    a(class="card-link" href="/posts/" + url, class="p-1 rounded") Ver detalles
                    div(class="card")
                        div(class="card-body")
                            p(class="h3") Comentarios 
                            for comentario in element.comentarios 
                                p(class="card-title") Escrito por #{comentario.usuarios.nombre}
                                p(class="card-text")=comentario.contenido